:root{
font-family: 'Courier New', Courier, monospace;
--border-color:grey;
--text-color: #2c78db;
}

.badges{

    width: 600px;
    border: 2px solid var(--border-color);
    padding: 1rem;
    border-radius: 5px;
    margin: 1rem;
   display: flex;
   align-items: flex-start;
   flex-direction: column;
    

}
.title{
    font-size: 3rem;
    font-weight: 700;
    color: var(--text-color);
   

}

.badge-elements{
    
    margin: 1rem;
    
    


}
.badge{
  
    background-color: blueviolet;
    color: white;
    padding: 5px 7px;
    font-size: .8rem;
    font-weight: 600;
    border-radius: 50%;

}
.badge-button{
    width: 70px;
    height: 30px;
    color: white;
    font-weight: 700;
    background-color: blueviolet;
    border: none;
    border-radius: 3px;
    outline: none; 
    
}

.badge-button:hover{
    width: 70px;
    height: 30px;
    color: white;
    font-weight: 700;
    background-color: blueviolet;
    border: none;
    border-radius: 3px;
    outline: none; 
    cursor: pointer;
}


/* .icon-button{
position: relative;
display: flex;
align-items: center;
justify-content: center;
width: 50px;
height: 50px;
color: black;
background: white;
border: none;
outline: none;
}
.icon-button:hover {
    cursor: pointer;
}
.icon-button:active {
   background: cornsilk;
}

.icon-button.badge{
    position: absolute;
    top: 4px;
    right: 5px;
    width: 20px;
    height: 20px;
    background-color: blueviolet;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;


} */

/* Text with small badge */
.textbadge1{
    position: absolute;
    left: 13.5rem;
    top:11.6rem;
  
}

.textbadge2{
    position: absolute;
    padding: 5px 7px;
    font-size: 1.1rem;
    font-weight: 900;
    border-radius: 50%;
    left: 16rem;
    top:13.6rem;
  
}
.textbadge3{
    position: absolute;
    background-color: 	#ff1493;
    left: 21rem;
    top:15.8rem;
  
}
.textbadge4{
    position: absolute;
    left: 15rem;
    top:19.8rem;
  
}


.email-button{
   
    width: 50px;
    height: 50px;
    color: black;
    background: white;
    border: none;
    outline: none;

}
.email-button:hover {
    cursor: pointer;
    border-radius: 30px;
}
.email-button:active {
   background: cornsilk;
}


p{
    font-weight: 600;
}